body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #4e4848;
    border-radius: 5px;
}

h2 {
    font-size: 30px;
    color: #f8cdcd;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #dbd2d2;
}

.skills {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 14px;
    color: #f0f0f0;
}

.contact-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #555;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.navbar {
    list-style: none;
    padding: 5px;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
    transition: color 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border: 2px dotted transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(41, 243, 14, 0);
}

.navbar a:hover {
    color: #f3d52a;
    border-color: #e2dede;
    border-radius: 10px;
    transform: scale(1.5);
    box-shadow: 0px 0px 10px rgba(47, 245, 8, 0.2);
    transition: all 0.3s;
}

#portfolio {
    background-color: #333;
    padding: 60px 0;
}

#portfolio h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #333;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-item {
    width: calc(33.33% - 20px);
    /* Adjust the width and spacing as needed */
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.portfolio-item h3 {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

.portfolio-item p {
    font-size: 16px;
    padding: 0 20px;
    color: #666;
}

.portfolio-item a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.portfolio-item a:hover {
    background-color: #555;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Sidebar styles */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    overflow-y: auto;

}

.sidebar-links {
    list-style: none;
    padding: 0;
}

.sidebar-links li {
    margin: 0;
}

.sidebar-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}


.sidebar-links a.active {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 100px;
    /* Adjust the width as needed */
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f3d52a;
}

.footer-social a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #f3d52a;
}

.footer-info p {
    margin: 5px 0;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-links {
        margin-bottom: 20px;
    }

    .footer-links ul {
        text-align: center;
    }

    .footer-social {
        margin-bottom: 20px;
    }
}